<html ng-app="myModule">
    <head>
    <script src="Scripts/angular.js"> </script>
    <script src="Scripts/script.js"></script>
        <link href="style.css" rel="stylesheet"/>
    </head>
    <body>
        <div ng-controller="myController" style="font-family:arial ">
              <table>
                  <thead>
                      <tr>
                       <th>Names</th>
                       <th>Likes</th>
                       <th>Dislikes</th>
                       <th>Like/Dislikes</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="technology in technologies">
                          <td> {{technology.name}}</td>
                          <td style="text-align:center">{{technology.likes}}</td>
                          <td style="text-align:center">{{technology.dislikes}}</td>
                          <td>
                              <input type="button" ng-click="incrementLikes(technology)" value="like"/>
                              <input type="button" ng-click="incrementDislikes(technology)" value="dislike"/>
                          </td>
                      </tr>
                  </tbody>
                </table>
            <br />
            <br />
        </div>
    </body>
</html>