<html ng-app="myModule">
    <head>
    <script src="Scripts/angular.js"> </script>
    <script src="Scripts/script.js"></script>
        <link href="style.css" rel="stylesheet"/>
    </head>
    <body>
        <div ng-controller="myController" style="font-family:arial ">
           Rows to Display: <input type="number" step="1" min="0" max="5" ng-model="rowLimit" />
            <br />
            <br />
             <table>
                 <thead>
                     <tr>
                         <th>Name</th>
                         <th>Date Of Birth</th>
                         <th>Gender</th>
                         <th>salary(number)</th>
                         <th>salary(currency)</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr ng-repeat="employee in employees | limitTo:rowLimit">
                         <td>{{employee.name|uppercase}}</td>
                         <td>{{employee.dateOfBirth| date:"dd/MM/yyyy"}}</td>
                         <td>{{employee.gender| lowercase}}</td>
                         <td>{{employee.salary| number:1}}</td>
                         <td>{{employee.salary| currency:"$":2}}</td>
                         
                     </tr>
                 </tbody>
             </table>
            <br />
            <br />
        </div>
    </body>
</html>