<html ng-app="myModule">
    <head>
    <script src="Scripts/angular.js"> </script>
    <script src="Scripts/script.js"></script>
        <link href="style.css" rel="stylesheet"/>
    </head>
    <body>
        <div ng-controller="myController" style="font-family:arial ">
             <ul>
                 <li ng-repeat="country in countries">
                     {{country.name}} 
                     <br />
                     <br />
                     <ul>
                         <li ng-repeat="city in country.cities">
                             {{city.name}}
                         </li>
                     </ul>
                 </li>
             </ul>
            <br />
            <br />
        </div>
    </body>
</html>